<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('inc/head') %>
  </head>
  <body>
    <%- include('inc/navbar') %>
    <main>About Tiny PDF</main>
    <%- include('inc/footer') %>
  </body>
</html>
